body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.hero-container
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-image-section
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-image-section-tint
{
    position: absolute;
    height: 933px;
    width: 1400px;
    background: #455255;
    opacity: 0.7;
}

.hero-image
{
    width: 1400px;
}

.hero-contents
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: -800px;

    
    width: 100%;
    max-width: 1200px;
}
.hero-text
{
    font-size: 60px;
    color: #fcfcfc;
}

.hero-button
{
    font-size: 30px;
    color: #455255;
    background-color: #fcfcfc;
    border-style: none;

    padding: 20 20 20 20;
}

.navigation-container
{
    position: absolute;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 1200px;

    margin-top: -1600px;
}

.nav-logo
{
    width: 200px;
}

.nav-menu-contianer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
}

.nav-menu-item
{
    color: #fcfcfc;
    padding: 20 20 20 20;
    font-size: 20px;
}

.nav-menu-contact
{
    background-color: #455255;
}

.about-container
{
    display:flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.about-section
{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1200px;

    height: 1000px;
}
.about-image
{
    width: 400px;
    margin-right: 500px;
}

.about-section-box
{
    position: absolute;
    margin-left: 300px;
    margin-top: 400px;

    width: 100%;
    max-width: 500px;
    
    background-color: #fcfcfc;
    box-shadow: 5px 10px 18px #888888;

    padding: 20 20 20 20;
}

.about-title
{
    font-size: 40px;
    color: #455255;
    font-weight: 800;
    text-align: center;
}

.about-text
{
    font-size: 25px;
}

.what-we-do-container
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
}

.what-we-do-section
{
    margin-top: 50px;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 100px;

    width: 100%;
    max-width: 1200px;
}

.what-we-do-title
{
    font-size: 60px;
    color: #455255;
    font-weight: 800;
}

.what-we-do-image
{
    width: 400px;
}

.wwd-card-text-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 400px;
    position: absolute

}

.what-we-do-text-title
{
    font-size: 40px;
    color: #fcfcfc;
}



.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #fcfcfc;
    color: #455255;
    transform: rotateY(180deg);
    padding: 20 20 20 20;

    font-size: 20px;

  }
  